.center{
  text-align: center;
}
.margin_bottom{
  margin: 30px 0;
}
.grey{
  background-color: #EEE8E8;
}

img{
  height:200px;
}

@media screen and (min-width:768px) and (max-width:992px){
  img{
    height: 150px;
  }
}
@media screen and (max-width:768px){
  img{
    height: 100px;
  }
}
